.app {
    margin-top: 10px;
}

.filters-group {
    margin-bottom: 20px;
}

.table-header {
    cursor: pointer;
}

.label-human {
    background-color: #0068b5;
}

.label-hai {
    background-color: #d66bce;
}

.label-quarg {
    background-color: #e0c400;
}

.label-korath {
    background-color: #cc7f19;
}

.label-wanderer {
    background-color: #b2e81e;
}

.label-coalition {
    background-color: #ff99b2;
}

.label-pug {
    background-color: #fce2b2;
}

.label-pirate {
    background-color: #c60000;
}

.label-remnant {
    background-color: #e2609e;
}

.label-sheragi {
    background-color: #e2609e;
}

.label-drak {
    background-color: #000;
}

.label-indigenous {
    background-color: #777;
}

.label-kahet {
    background-color: #673737;
}

.label-gegno {
    background-color: #bf9644;
}

.label-vyu-rulei {
    background-color: #ccc;
}

.label-incipias {
    background-color: #7f00e5;
}

.label-bunrodea {
    background-color: #59a54c;
}

.label-successor {
    background-color: #1cc9bb;
}

p.italic {
    font-style: italic;
}

img.ship-sprite {
    max-width:  220px;
    max-height: 220px;
    width:      auto;
    height:     auto;
}

.game-version {
    float: right;
    padding: 10px 15px;
}
