.filters-group {
    margin-bottom: 20px;
    margin-right: 20px;
}

.table-header {
    cursor: pointer;
}

.label-human {
    background-color: #005b89;
}

.label-hai {
    background-color: #91528b;
}

.label-quarg {
    background-color: #988100;
}

.label-korath {
    background-color: #9c6825;
}

.label-wanderer {
    background-color: #6b8900;
}

.label-coalition {
    background-color: #777;
}
